@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'OriginTech';
  src: url('./OriginTech.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NixieOne';
  src: url('./NixieOne.ttf') format('truetype');
}